<div class="row search-result">
  <div class="col-xs-12 col-md-3">
    <%= link_to result.name, product_path(result.id) %>
  </div>
  <div class="col-md-9 hidden-xs">
    <%= result.description %>
  </div>
</div>
