.messages {
    padding: 1px;
    margin-top: 2px;
}

.message {
    padding: 1px;
    margin-top: 2px;
}

.input-message {
  color: #555555;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-right: 6px;
  padding-left: 6px;
}

textarea.input-message {
  width: 100%;
}
