<% if @chatrooms != nil then %>
<div class="chats">
  <% @chatrooms.each do |chatroom| %>
  <p> <%= link_to "Сообщения от пользователя #{chatroom.user.email}", show_chat_path(chatroom) %> </p>
  <% end %>
</div>
<% end %>
