<div id="messages" data-chat-room-id="<%= @room_id %>">
  <%= render @messages %>
</div>

<form>
  <label>
    Ваше сообщение:
  </label>
  <input type="text" data-behavior="chat_support_speaker">
</form>
