<h1>Основные категории товаров</h1>

<table class="category">
  <tr>
    <th>Название категории</th>
    <th>Ссылка на все товары из данной категории<th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %> </td>
      <td><%= link_to 'Показать все товары из данной категории', category_path(category)%> </td>
    </tr>
  <% end %>
</table>
