<div>
  <b>Название категории : <%= @category.name %> </b>
<div>

<div>
  <table>
    <tr>
      <th>Название подкатегории</th>
    </tr>

    <% @subcategories.each do |subcategory| %>
    <tr>
      <td><%= link_to(subcategory.name, category_path(subcategory)) %></td>
    </tr>
    <% end %>
  </table>
<div>
