<h1>Все товары</h1>

<table>
  <tr>
    <th>Название товара</th>
    <th>Ссылка на категорию</th>
    <th>Описание товара</th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= link_to 'Показать все товары из данной категории', category_path(product.category_id) %></td>
      <td><%= link_to 'Показать информацию о товаре', product_path(product) %></td>
    </tr>
  <% end %>
</table>
